<div id="todo_{{todo.pk}}">
   <form>
      {% csrf_token %}
      <fieldset>
	 <div>
	    {{todo.rank}} - <input type="text" name="todo_{{todo.pk}}_title" value="{{todo.title}}" />
	 </div>
	 <div>
	    <textarea
		  name="todo_{{todo.pk}}_text" 
		  rows="5" 
		  cols="30"
		  >{{todo.text}}
	    </textarea>
	    <button hx-put="{% url 'todo:todo_details_partial' todo.pk  %}"
		    hx-target="#todo_list"
		    hx-swap="outerHTML">Update
	    </button>
	    <button hx-delete="{% url 'todo:todo_details_partial' todo.pk  %}"
		    hx-target="#todo_list"
		    hx-swap="outerHTML">Delete
	    </button>
	 </div>
      <fieldset>
   </form>
</div>
